.main-section .bg-image {
    background-image: url("../image/img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-section .login-here {
    padding-top: 300px;
    padding-bottom: 300px;
    background: -webkit-linear-gradient(#014551, #047034);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .main-section .sign-up {
    font-family: sans-serif;
    font-weight: lighter;
  }
  .main-section .form-control {
    font-family: sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black !important;
  }
  .main-section .form-control::-moz-placeholder {
    color: black;
    font-size: 14px;
  }
  .main-section .form-control:-ms-input-placeholder {
    color: black;
    font-size: 14px;
  }
  .main-section .form-control::placeholder {
    color: black;
    font-size: 14px;
  }
  .main-section .btn-color {
    background-image: linear-gradient(#068936, #01328c);
  }
  .main-section .line {
    background-color: rgb(199, 195, 195);
    border-radius: 20px;
    width: 100%;
    height: 20px;
  }
  .main-section .circle {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    background-color: blue;
  }
  .main-section .circle-2 {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    background-color: rgb(0, 255, 55);
  }
  .main-section .circle-positiin-2 {
    top: -35px;
    left: 230px;
  }
  @media (max-width: 768px) {
    .main-section .circle-positiin-2 {
      top: -35px;
      left: 125px;
    }
  }
  .main-section .circle-3 {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    background-color: rgb(126, 128, 126);
  }
  .main-section .circle-positiin-3 {
    top: -35px;
    right: 20px;
  }
  @media (max-width: 576px) {
    .main-section .custom-padding {
      padding-left: 10px !important;
    }
  }
  .main-section .circle-positiin {
    top: -35px;
    left: 30px;
  }/*# sourceMappingURL=index.css.map */
  .btn{
     padding-left: 30px;
     padding-right: 80px;
     width: 60%;
  }